section.banner
  .container.position-relative.d-flex.flex-column.flex-lg-row.justify-content-center.justify-content-lg-end.align-items-center
    img.position-absolute.d-none.d-lg-block(src="src/img/banner.png", alt="")
    .banner__wrapper
      h2.title Точный расчет стоимости за 
        span.red 2&nbsp;рабочих дня
      p Меня зовут Владислав, я инженет-сметчик в «Формуле».  
        | Сделаю вам расчет проекта за два дня. 
        span.red Просто оставьте заявку
    button.btn.btn_black Оставить заявку