section.business
  .container.position-relative
    .business__inner.d-flex.flex-column
      .business__wrapper.d-flex.flex-column.align-items-start
        h2.title.red Действующие бизнесы
        p Проекты, которые мы уже собрали и запустили, а их сладельцы - получаю реальную прибыль. Проекты, которые мы уже собрали и запустили, а их сладельцы - получаю реальную прибыль. Проекты, которые мы уже собрали и запустили, а их сладельцы - получаю реальную прибыль.
        button.btn.btn_black Все истории успеха
      .position-absolute
        .js-business-slider
          .slider-item
            img(src="src/img/business/img-1.jpg", alt="")
            .slider-item--text
              h3.red Мойка на 2 поста, Бийск
              p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
          .slider-item
            img(src="src/img/business/img-2.jpg", alt="")
            .slider-item--text
              h3.red Мойка на 2 поста, Бийск
              p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
          .slider-item
            img(src="src/img/business/img-1.jpg", alt="")
            .slider-item--text
              h3.red Мойка на 2 поста, Бийск
              p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
          .slider-item
            img(src="src/img/business/img-2.jpg", alt="")
            .slider-item--text
              h3.red Мойка на 2 поста, Бийск
              p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
      button.control.control_prev.js-business-prev.position-absolute.d-none.d-lg-block(type="button")
        img(src="src/img/intro/btnPrev.png", alt="", aria-hidden="true")
      button.control.control_next.js-business-next.position-absolute.d-none.d-lg-block(type="button")
        img(src="src/img/intro/btnNext.png", alt="", aria-hidden="true")