section.differents
  .container
      h2.title В чем отличие моек «
        span.red Формула
        |»?
      .differents__wrapper.col-12.d-flex.flex-column.flex-lg-row.justify-content-start.justify-content-lg-center.align-items-center.position-relative
        img.d-none.d-lg-block(src="src/img/feat-carwash.png", alt="")
        .differents__item.differents__item_1.position-absolute
          h3.red Каркас из нержавеющей стали
          p Мы даем гарантию на каркас 15 лет. В отличие от дешевых китайских моек, чей каркас ржавеет на второй год.
        .differents__item.differents__item_2.position-absolute
          h3.red Система AntiFrost
          p Возможность пользоваться мойкой в минусовую температуру. Это важно для Сибири, ведь мойка доллжна приносить деньги не только летом.
        .differents__item.differents__item_3.position-absolute
          h3.red Американские и итальянские насосы
          p Одна из самых технически сложных систем - подача воды. Она используется постоянно п подвергается сильному износу. Мы поставляем только оригинальные импортные насосы, которые служат десятками лет.
        .differents__item.differents__item_4.position-absolute
          h3.red Плитный фундамент
          p Умные системы SmartEnegry позволят экономить электроэнергию при малой нагрузке мойки.
        .differents__item.differents__item_5.position-absolute
          h3.red Системы экономии электроэнергии
          p Ставим мойку на фундамент из нескольких плит. Гарантия безпроблемной службы до 15 лет