nav.menu.d-block.d-lg-none.position-absolute
  .container
    .d-flex.flex-column.justify-content-start.align-items-start
      .menu__list.col-12.d-flex.flex-column.justify-content-start.align-items-start
        a(href='#') О нас
        a(href='#') О мойках «Formula»
        a(href='#') Схема сотрудничества
        a(href='#') Отзывы
        a(href='#') Частые вопросы
      button.btn.btn_black Школа автомойщиков