nav.nav.d-none.d-lg-block
  .container
    .row.justify-content-between.align-items-center
      div.nav__list.col-8
        a(href='#') О нас
        a(href='#') О мойках «Formula»
        a(href='#') Схема сотрудничества
        a(href='#') Отзывы
        a(href='#') Частые вопросы
      button.nav__btn Школа автомойщиков