section.plan.container.position-relative.d-flex.flex-column.flex-lg-row.justify-content-start.justify-content-lg-end.align-items-center
  img.position-absolute.d-none.d-lg-block(src="src/img/plan/image.png", alt="")
  .plan__wrapper
    h2 Получите пошаговый план открытия мойки
    p Оставьте контактные данные — мы вышлем план на почту.
  button.btn.btn_yellow Получить пошаговый план