section.school
  .container
    h2.title.red Школа автомойщиков
    .school__wrapper.d-flex.flex-column-reverse.flex-lg-row.justify-content-center.justify-content-lg-between.flex-wrap
      .school__left.row-cols-2.d-flex.justify-content-center.justify-content-md-between.flex-wrap
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-1.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-2.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-3.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-4.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-5.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
        .school__item.col-12.col-md-6.position-relative.d-flex.justify-content-center
          img(src="src/img/school/school-6.jpg", alt="")
          svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
          .school__item_hover.d-flex.flex-column.justify-content-end.align-items-center
            svg.position-absolute(width="68" height="69" viewBox="0 0 68 69" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M34 68.0742C52.7777 68.0742 68 52.8519 68 34.0742C68 15.2965 52.7777 0.0742188 34 0.0742188C15.2223 0.0742188 0 15.2965 0 34.0742C0 52.8519 15.2223 68.0742 34 68.0742Z" fill="url(#paint0_linear)")
              path(d="M46.1981 35.2922L29.2168 45.0354C28.7817 45.2844 28.2428 45.2879 27.8018 45.0354C27.3651 44.784 27.0942 44.3199 27.0942 43.8171V24.3308C27.0942 23.828 27.3651 23.3639 27.8018 23.1125C28.2385 22.8626 28.7801 22.8626 29.2168 23.1125L46.1981 32.8557C46.6348 33.1071 46.9057 33.5712 46.9057 34.074C46.9057 34.5767 46.6348 35.0408 46.1981 35.2922Z" fill="#2B2A29")
              defs
                linearGradient(id="paint0_linear" x1="34" y1="68.0742" x2="34" y2="0.0742188" gradientUnits="userSpaceOnUse")
                  stop(stop-color="#FFE59A")
                  stop(offset="1" stop-color="#FFFFD5")
            span О системе Hawk (США)
      .school__right
        h3 Рассказываем, как делать бизнес на автомойках в России. Честно и без прикрас.
        p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
        p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
        p Здесь пояснительный текст - для кого этот раздел, чему можно научиться. на какие вопросы отвечает. 
        button.btn.btn_black На страницу школы
