section.team
  .container
    .team__heading.d-flex.flex-column.flex-lg-row.align-items-center
      h2.title.red Наша команда
      .team__list.d-flex.align-items-center
        a.team__link.active(href="#") Ведение проекта
        a.team__link(href="#") Проектирование
        a.team__link(href="#") Документация
        a.team__link(href="#") Землеустройство
    .team__wrapper.row.d-flex.align-items-center.flex-wrap
      article.team__item.col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        .team__img.d-flex.justify-content-center.align-items-center
          .team__img_closer.d-flex.justify-content-center.align-items-center
            img(src="src/img/team/team-1.jpg", alt="")
        h3 Владислав
        span Директор
        p Согласование сроков, стоимости, контроль качества.
      article.team__item.col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        .team__img.d-flex.justify-content-center.align-items-center
          .team__img_closer.d-flex.justify-content-center.align-items-center
            img(src="src/img/team/team-2.jpg", alt="")
        h3 Евгений
        span Инженер-сметчик
        p Согласование сроков, стоимости, контроль качества.
      article.team__item.col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        .team__img.d-flex.justify-content-center.align-items-center
          .team__img_closer.d-flex.justify-content-center.align-items-center
            img(src="src/img/team/team-3.jpg", alt="")
        h3 Юлия
        span Маркетолог
        p Помощь в развитии вашей новой заправки, привлечению клиентов.
      article.team__item.col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        .team__img.d-flex.justify-content-center.align-items-center
          .team__img_closer.d-flex.justify-content-center.align-items-center
            img(src="src/img/team/team-4.jpg", alt="")
        h3 Никита
        span Инженер
        p Ответственный за результат
