doctype html
html(lang="ru")
  include modules/head.pug
  body
    a#up.d-none.js-to-top.position-fixed(href="#")
      img(src="src/img/toTop.png", alt="")
    include modules/menu.pug
    include modules/nav.pug
    include modules/header.pug
    main
      include modules/intro.pug
      include modules/info.pug
      include modules/decisions.pug
      include modules/business.pug
      include modules/banner.pug
      include modules/differents.pug
      include modules/team.pug
      include modules/certificates.pug
      include modules/school.pug
      include modules/plan.pug
    include modules/footer.pug
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous")
    script(type="text/javascript" src="slick/slick.min.js")
    script(src="bootstrap/js/dist/carousel.js")
    script(type="text/javascript" src="js/index.js")
